@font-face {
   font-family: 'Montserrat-Bold';
   font-display: swap;
   src: url('file:///C:/Users/Mario/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-01-18_025517/fonts/Montserrat-Bold/font.ttf');
}
